<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <% include ./partials/header %>

    <h1>Express Movies: les sites des cinéphiles</h1>
    <div class="container">
      Etes-vous plutot films ou séries?
    </div>
    <% include ./partials/footer %>
  </body>
</html>
