<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <% include ./partials/header %>

    <h1>This is a Movie Detail</h1>
    <div>
      movie numero <%= movieid %>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
