<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <% include ./partials/header %>

    <h1><%= title %></h1>
    <ul class="french-movies">
      <% for(movie of movies) {%>
      <li><%= movie.title %> (<%= movie.year %>)</li>
      <% } %>
    </ul>
    <br>
    <form action="/movies" method="post">
      <label for="title">titre du film</label>
      <input type="text" id="movietitle"name="movietitle" id="title">
      <label for="movieyear">date du film</label>
      <input type="text" id="movieyear" name="movieyear" id="date">
      <button type="submit">Ajouter</button>
    </form>
  </body>
  <% include ./partials/footer %>
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', addMovie);

    function addMovie(event) {
      event.preventDefault();

      if(window.fetch){
        fetch('/movies', {
          method: 'POST',
          body: new FormData(form)
        })
        .then(checkStatus)
        .catch(function(error) {
          console.error('request failed', error);
        })
      }
      else {

      }
    }

    function checkStatus(response){
      if(response.status >= 200 && response.status < 300){
        let newMovieDiv = document.createElement('li');
        const movietitle = document.getElementById('movietitle').value;
        const movieyear = document.getElementById('movieyear').value;
        newMovieDiv.innerHTML = `${movietitle} (${movieyear})`;
        document.querySelector('.french-movies').appendChild(newMovieDiv);
        form.reset();
      }
    }
  </script>
</html>
